### 2018-2019 season of the English Premier League

#### Description for Table Column

**Div**:	Division the game was played in

**Date**	The date the game was played

**HomeTeam**	The home team

**AwayTeam**	The away team

**FTHG**	Full time home goals

**FTAG**	Full time away goals

**FTR**	Full time result

**HTHG**	Half time home goals

**HTAG**	Half time away goals

**HTR**	Half time result

**Referee**	The referee of the game

**HS**	Number of shots taken by home team

**AS**	Number of shots taken by away team

**HST**	Number of shots taken by home team on target

**AST**	Number of shots taken by away team on target

**HF**	Number of fouls made by home team

**AF**	Number of fouls made by away team

**HC**	Number of corners taken by home team

**AC**	Number of corners taken by away team

**HY**	Number of yellow cards received by home team

**AY**	Number of yellow cards received by away team

**HR**	Number of red cards received by home team

**AR**	Number of red cards received by away team

In [1]:
import pandas as pd

soccer_data = pd.read_csv("./data/soccer18-19.csv")
soccer_data.head()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,E0,10/8/18,Man United,Leicester,2,1,H,1,0,H,...,6,4,11,8,2,5,2,1,0,0
1,E0,11/8/18,Bournemouth,Cardiff,2,0,H,1,0,H,...,4,1,11,9,7,4,1,1,0,0
2,E0,11/8/18,Fulham,Crystal Palace,0,2,A,0,1,A,...,6,9,9,11,5,5,1,2,0,0
3,E0,11/8/18,Huddersfield,Chelsea,0,3,A,0,2,A,...,1,4,9,8,2,5,2,1,0,0
4,E0,11/8/18,Newcastle,Tottenham,1,2,A,1,2,A,...,2,5,11,12,3,5,2,2,0,0

In [5]:
soccer_data["FTR"].head(100)
# H means home team
# A means away team
# D means

0     H
1     H
2     A
3     A
4     A
     ..
95    H
96    A
97    D
98    H
99    A
Name: FTR, Length: 100, dtype: object